{% extends 'basic.html' %}
{% block style %}
    {% load static %}
    <!-- Sweetalert Css -->
    <link href="{% static 'theme/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Añadir Categorie</h2>
                        </div>
                        <form action="." id="category" method="post" target="_parent" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="body" style="padding: 20px 60px">
                                <div class="list-unstyled row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
                                        <label>Nombre de Categorie</label>
                                        <input id="name" name="name" type="text" class="form-control" placeholder="Nombre de Categorie" required="True">
                                    </div>
                                </div>
                            </div>                 
                        <div class="col-12" style="text-align: center; padding-bottom: 50px;">
                            <button id="submit" class="btn btn-primary" type="submit">ACTUALIZAR</button>    
                            <a class="btn btn-danger" href="{% url 'category' %}">CANCELAR</a></center>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <!-- SweetAlert Plugin Js -->
    <script src="{% static 'theme/plugins/sweetalert/sweetalert.min.js' %}"></script>
{% endblock %}