{% extends 'basic.html' %}

{% block style %}
    {% load static %}
    <!-- Sweetalert Css -->
    <link href="{% static 'theme/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <div class="header">
                        <a class="btn btn-primary waves-effect" href="{% url 'categoryadd' %}">AÑADIR CATEGORIE</a>
                        <h2>CATEGORIE</h2>
                    </div>
                    <div class="card" style="padding: 10px;">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" style="padding: 10px;">
                            <input id="search_category" type="search" class="form-control" placeholder="Buscar">
                        </div>
                        <table class="table color-table primary-table">
                            <thead>
                                <tr>
                                    <th scope="col">Categorie</th>
                                    <th scope="col" class="text-center">Modificar</th>
                                </tr>
                            </thead>
                            <tbody>	
                            {% if categorys %}	
                                {% for category in categorys %}
                                <tr class="text-left">
                                    <td class="text-left">{{category.name}}</td>                                
                                    <td class="text-center" style="vertical-align: middle">
                                        <a href="{% url 'categoryupdate' category.id %}"><i class="fa fa-pencil"></i></a>&nbsp;
                                        <a href="#" data-toggle="modal" data-target="#delete-category{{category.id}}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <!--Delete Category-->
								<div class="modal fade" id="delete-category{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
									<div class="modal-dialog modal-xs">
										<div class="modal-content" style="border-radius: 15px;">
											<div class="modal-header" style="background-color: #7f9bcd; border-top-right-radius: 10px; border-top-left-radius: 10px;">
												<div class="align-items-center">
													<p class="modal-title" id="exampleModalLongTitle" style="color: white;"><i class="fa fa-trash"></i>&nbsp;&nbsp;ELIMINAR CATEGORIE</p>
												</div>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true" style="color: #fff;">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<div class="col-12">
													<h5>¿Está seguro que quiere eliminar este registro?</h5>
												</div>
											</div>
											<div class="modal-footer">
                                                <center>
                                                    <button id="delete-button{{category.id}}" class="btn btn-primary waves-effect">SI</button>
                                                    <button data-dismiss="modal" class="btn btn-danger waves-effect">NO</button>
                                                </center>
											</div>
										</div>
									</div>
								</div>
								<script>
									$('#delete-button{{category.id}}').click(function(e){
										var value = '{{category.id}}';
										var url = "{% url 'delete_category' %}";
										var token = '{{csrf_token}}';
										$.ajax({
											headers: { "X-CSRFToken": token },
											method: 'POST',
											url: url,
											data: {
												'value': value
											},
											success: function(data) {
												if(data == 'Ok') {
													location.reload();
												}
											}
										});
									});
								</script>
                                {% endfor %}
                            {% else %}
                                <td style="padding-bottom:30px;">No existen Categorie</td>
							{% endif %}
                            </tbody>
                        </table>
                        <script>
                            $("#search_category").keyup(function(){
                                _this = this;
                                // Show only matching TR, hide rest of them
                                $.each($("table tbody tr"), function() {
                                    if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1){
                                        $(this).hide();
                                    }
                                    else {
                                        $(this).show();
                                    }
                                });
                            });
			            </script>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
{% block script %}
    <!-- SweetAlert Plugin Js -->
    <script src="{% static 'theme/plugins/sweetalert/sweetalert.min.js' %}"></script>
{% endblock %}