{% extends 'basic.html' %}

{% block style %}
    {% load static %}
    <!-- Sweetalert Css -->
    <link href="{% static 'theme/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="header">
                <h2>HOME</h2>
            </div>
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="list-unstyled row clearfix">
                                <h3 class="text-center">EMPRESA</h3>
                                <center>
                                    <a href="{% url 'companylist' %}">
                                        <i class="material-icons" style="font-size:100px;">business_center</i>    
                                    </a>
                                </center>
                                <h4 class="text-center">{{company_num}}</h4>
                                <h4 class="text-center">Nuestras empresas</h4>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="list-unstyled row clearfix">
                                <h3 class="text-center">SUPPLIER</h3>
                                <center>
                                    <a href="{% url 'supplier' %}">
                                        <i class="material-icons" style="font-size:100px;">public</i>    
                                    </a>
                                </center>
                                <h4 class="text-center">{{supplier_num}}</h4>
                                <h4 class="text-center">Nuestros proveedores</h4>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="list-unstyled row clearfix">
                            <h3 class="text-center">CATEGORIE</h3>
                                <center>
                                    <a href="{% url 'Categorie' %}">
                                        <i class="material-icons" style="font-size:100px;">bookmark_border</i>    
                                    </a>
                                </center>
                                <h4 class="text-center">1</h4>
                                <h4 class="text-center">Nuestras categorías</h4>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="list-unstyled row clearfix">
                            <h3 class="text-center">DATOS PERSONALES</h3>
                                <center>
                                    <a href="{% url 'userinformation' request.user.id %}">
                                        <i class="material-icons" style="font-size:100px;">contacts</i>    
                                    </a>
                                </center>
                                <h4 class="text-center">{{user.username}}</h4>
                                <h4 class="text-center">{{user.email}}</h4>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
{% block script %}
    <!-- SweetAlert Plugin Js -->
    <script src="{% static 'theme/plugins/sweetalert/sweetalert.min.js' %}"></script>
{% endblock %}